<div
  class="flex flex-wrap justify-between gap-4 p-6 bg-lighter-grayish-blue dark:bg-darker-blue min-h-screen transition-all duration-300 overflow-hidden"
>
  <div
    *ngIf="columns.length === 0"
    class="flex flex-col justify-center items-center w-full"
  >
    <p
      class="text-center text-lg font-semibold text-dark-purple dark:text-light-purple"
    >
      This column is empty. Create a new column to get started.
    </p>
    <button
      class="mt-4 flex flex-col justify-center items-center bg-light-grayish-blue dark:bg-grayish-dark rounded-lg p-4 text-grayish-dark dark:text-light-purple"
    >
      <span class="text-2xl font-bold dark:hover:text-dark-purple"
        >+ New Column</span
      >
    </button>
  </div>

  <div
    *ngIf="columns.length > 0"
    class="grid grid-cols-1 md:grid-cols-4 gap-4 w-full"
  >
    <ng-container *ngFor="let column of columns">
      <app-task-list [column]="column" class="col-span-1"></app-task-list>
    </ng-container>

    <button
      class="flex flex-col justify-center items-center rounded-lg bg-light-purple dark:bg-grayish-dark p-1 text-grayish-dark dark:text-light-purple"
    >
      <span
        class="text-2xl font-bold hover:text-light-purple dark:hover:text-dark-purple"
        >+ New Column</span
      >
    </button>
  </div>
</div>
