<div class="bg-lighter-grayish-blue dark:bg-dark-gray min-h-screen">
  <div
    *ngIf="columns.length > 0"
    class="grid grid-cols-1 md:grid-cols-4 gap-4 w-full"
  >
    <ng-container *ngFor="let column of columns">
      <app-task-list [column]="column"></app-task-list>
    </ng-container>

    <button
      (click)="openCreateColumnModal()"
      class="flex flex-col justify-center h-screen items-center rounded-lg bg-light-grayish-blue dark:bg-grayish-dark p-1 text-grayish-dark dark:text-light-purple"
    >
      <span
        class="text-2xl font-bold hover:text-light-purple dark:hover:text-dark-purple"
        >+ New Column</span
      >
    </button>
  </div>
</div>

<app-create-board-modal
  *ngIf="isCreateColumnModalOpen"
  [board]="activeBoard"
  (closeModal)="closeCreateColumnModal()"
  (saveBoard)="onSaveBoard($event)"
></app-create-board-modal>

<app-task-modal
  *ngIf="selectedTask"
  [task]="selectedTask"
  (closeModal)="closeTaskModal()"
  (statusChanged)="changeTaskStatus($event)"
  (subtaskToggled)="toggleSubtask($event)"
></app-task-modal>

<app-modal *ngIf="isAddTaskModalOpen" (close)="toggleAddTaskModal()">
  <app-add-task
    (close)="toggleAddTaskModal()"
    (createTask)="onCreateTask($event)"
  >
  </app-add-task>
</app-modal>
