<div [ngClass]="{ 'dark': isDarkMode }" class="flex flex-col h-screen">
  <div class="h-[20%]">
    <!-- Pass the active board name to navbar -->
    <app-navbar [activeBoardName]="activeBoard"></app-navbar>
  </div>
  <div class="flex flex-grow">
    <div class="w-1/5 hidden md:block">
      <app-sidebar></app-sidebar>
    </div>
    <div class="w-full md:w-4/5">
      <!-- Capture the boardNameChange event from the task board -->
      <app-task-board (boardNameChange)="activeBoard = $event"></app-task-board>
    </div>
  </div>
</div>
