<div *ngIf="task" class="modal-overlay">
  <div class="modal-content bg-white dark:bg-dark-gray p-4 rounded-lg">
    <h2 class="font-bold text-lg">{{ task.title }}</h2>
    <p>{{ task.description }}</p>

    <h3 class="font-semibold mt-4">Subtasks</h3>
    <ul class="list-disc pl-5">
      <li class="bg-lighter-grayish-blue" *ngFor="let subtask of task.subtasks">
        <input type="checkbox" [checked]="subtask.isCompleted" />
        {{ subtask.title }}
      </li>
    </ul>

    <label class="block mt-4 ">Change Task Status</label>
    <select (change)="changeStatus($event)" [value]="task.status">
      <option *ngFor="let status of ['To Do', 'In Progress', 'Completed']" [value]="status">{{ status }}</option>
    </select>

    <button (click)="close()" class="mt-4 bg-red text-white py-2 px-4 rounded-lg">Close</button>
  </div>
</div>
