<div class="bg-white  p-6 rounded-lg w-full">
  <h2 class="text-xl font-bold mb-4">Add New Task</h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <input
        formControlName="title"
        type="text"
        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-300"
        placeholder="e.g. Take coffee break"
      />
      <div
        *ngIf="
          taskForm.get('title')?.invalid &&
          (taskForm.get('title')?.touched || taskForm.get('title')?.dirty)
        "
        class="text-red-500"
      >
        <small *ngIf="taskForm.get('title')?.errors?.['required']"
          >Title is required.</small
        >
        <small *ngIf="taskForm.get('title')?.errors?.['minlength']"
          >Title must be at least 3 characters long.</small
        >
      </div>
    </div>

    <div class="mb-4">
      <textarea
        formControlName="description"
        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-300"
        rows="4"
        placeholder="e.g. It’s always good to take a break."
      ></textarea>
      <div
        *ngIf="
          taskForm.get('description')?.invalid &&
          (taskForm.get('description')?.touched ||
            taskForm.get('description')?.dirty)
        "
        class="text-red-500"
      >
        <small *ngIf="taskForm.get('description')?.errors?.['required']"
          >Description is required.</small
        >
      </div>
    </div>

    <div class="mb-4">
      <p class="text-gray-600 mb-1">Subtasks</p>
      <div formArrayName="subtasks">
        <div
          *ngFor="let subtask of subtasks.controls; let i = index"
          class="flex items-center mb-2"
        >
          <input
            [formControlName]="i"
            type="text"
            class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-300"
            placeholder="e.g. Prepare coffee"
          />
          <button>
            <img
            src="assets/icon-cross.svg"
            alt="Remove"
            class="w-5 h-5 ml-2 cursor-pointer"
            (click)="removeSubtask(i)"
          />
          </button>
          <div
            *ngIf="subtask.invalid && (subtask.touched || subtask.dirty)"
            class="text-red-500"
          >
            <small>Subtask is required.</small>
          </div>
        </div>
      </div>
      <button
        type="button"
        (click)="addSubtask()"
        class="w-full p-2 bg-[#F4F7FD] text-[#635FC7] rounded-full mt-2"
      >
        <span class="text-xl mr-1">+</span> Add Subtask
      </button>
    </div>

    <div class="mb-4">
      <label class="text-gray-600 mb-1">Column</label>
      <select
        formControlName="columnId"
        class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-300"
      >
        <option value="">Select Column</option>
        <option value="todo">To do</option>
        <option value="doing">Doing</option>
        <option value="done">Done</option>
      </select>
      <div
        *ngIf="
          taskForm.get('columnId')?.invalid &&
          (taskForm.get('columnId')?.touched || taskForm.get('columnId')?.dirty)
        "
        class="text-red-500"
      >
        <small>Column selection is required.</small>
      </div>
    </div>

    <button
      type="submit"
      class="w-full bg-[#635FC7] text-white p-2 rounded-full hover:bg-blue-600 transition-colors"
    >
      Create Task
    </button>
  </form>
</div>
